.fin0,
.fin1,
.fin2,
.fin3,
.fin4,
.fin5,
.fin,
.fout {
	font-size:120px;
}
.fin {
	visibility:hidden;
}
.fout {
	position:relative;
	display:inline-block;
}
.fin0,
.fin1,
.fin2,
.fin3,
.fin4,
.fin5 {
	position:absolute;
}
.fin0 {
	font-family:fin0f;

}
.fin1 {
	color:red;
	font-family:fin1f;
}
.fin2 {
	color:purple;
	font-family:fin2f;
}
.fin3 {
	color:blue;
	font-family:fin3f;
}
.fin4 {
	color:green;
	font-family:fin4f;
}
.fin5 {
	color:brown;
	font-family:fin5f;
}
@font-face {
	font-family:fin0f;
	src:url(../cjabc0.woff);
}
@font-face {
	font-family:fin1f;
	src:url(../cjabc1.woff);
}
@font-face {
	font-family:fin2f;
	src:url(../cjabc2.woff);
}
@font-face {
	font-family:fin3f;
	src:url(../cjabc3.woff);
}
@font-face {
	font-family:fin4f;
	src:url(../cjabc4.woff);
}
@font-face {
	font-family:fin5f;
	src:url(../cjabc5.woff);
}

.afin1 {
    animation: nuka1 10s linear 0s infinite normal;
}
.afin2 {
    animation: nuka2 10s linear 0s infinite normal;
}
.afin3 {
    animation: nuka3 10s linear 0s infinite normal;
    /* animation: nuka 2s linear 12s infinite normal; */
}
.afin4 {
    animation: nuka4 10s linear 0s infinite normal;
    /* animation: nuka 2s linear 16s infinite normal; */
}
.afin5 {
    animation: nuka5 10s linear 0s infinite normal;
    /* animation: nuka 2s linear 20s infinite normal; */
}
@keyframes nuka1 {
	0% { color:brown; }
	10% { color:white; }
	20% { color:brown; }
}
@keyframes nuka2 {
	20% { color:purple; }
	30% { color:white; }
	40% { color:purple; }
}
@keyframes nuka3 {
	40% { color:blue; }
	50% { color:white; }
	60% { color:blue; }
}
@keyframes nuka4 {
	60% { color:green; }
	70% { color:white; }
	80% { color:green; }
}
@keyframes nuka5 {
	80% { color:brown; }
	90% { color:white; }
	100% { color:brown; }
}
